#Titulo1 {
    font-size: 3em;
    color:  White;
    background-color: blue;
    border: 4px solid royalblue;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;

}

.Parrafos{
    font-size: 1.2em;
}

.Led{
    color: crimson;   
}

.refs{

    display: inline-block;
}

#flag{

    color:blueviolet;
}

.cont{
    color: coral;

}

.bot{

    color:greenyellow;
}

#while{
    color: aqua;
}

.mostrarld{

    color: darkcyan;

}

.case{

    color: darkolivegreen;
}


#Titulo2{
    font-size: 3em;
    color:  White;
    background-color: purple;
    border: 4px solid darkviolet;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;

}

#img{
    padding-top: 10em;
}